@keyframes colorify {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 8px 8px 17px -6px rgba(250, 0, 0, 0.23) inset, -8px -8px 17px -6px rgba(250, 0, 0, .23) inset;
    }
}

@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(1.7) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes flip-vertical-right {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes slide-in-left {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-out-left {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slide-down {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-in-right {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-out-right {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes rotate_plus {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate_minus {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.outy {
    animation: slide-out-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.outy2 {
    animation: slide-out-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.outy3{
    animation: fade-out 0.9s ease-out;
}

.inny {
    animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.inny2 {
    animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.inny3{
    animation: fade-in 0.9s ease-in;
}

.flippy {
    animation: flip-vertical-right 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.hider{
    display: none!important;
    animation: fade-out 0.9s ease-out;
}

.rotater {
    animation: rotate_plus 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotater1 {
    animation: rotate_minus 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}