@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@489&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

:root {
    /* Base font size */
    font-size: 10px;
    --bg-main: #FAFAFA;
    --bg-primary: #FCFCFC;
    --bg-sec: #FFFFFF;
    --primary-right: #FAFAFA;
    --primary-left: #FFFFFF;
    --text-primary: #484848;
    --primary-shadow: rgba(0, 0, 0, .1);
    --bg-invert: #232223;
    --text-invert: #DCDCDC;
    --sec-shadow: rgba(0, 0, 0, .25);
    --bg-alt: #FAFAFA;
    --correct: #0b6623;
    --incorrect: #c21807;
    --color-scroll: light;
}

[data-theme="dark"] {
    --bg-main: #333232;
    --bg-primary: #292929;
    --bg-sec: #232223;
    --primary-right: #333232;
    --primary-left: #232323;
    --text-primary: #DCDCDC;
    --bg-invert: #DCDCDC;
    --text-invert: #232223;
    --primary-shadow: rgba(0, 0, 0, .1);
    --sec-shadow: rgba(0, 0, 0, .5);
    --bg-alt: #424242;
    --correct: #22eaaa;
    --incorrect: #ff2400;
    --color-scroll: dark;
}


/* .main::-webkit-scrollbar {
    display: none!important;
} */

html {
    font-family: 'Quicksand', sans-serif;
    color: var(--font-color);
    background: var(--bg-alt);
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: var(--bg-main);
}

.main-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 61.8%;
    background: var(--bg-main);
}

.main-pane>.summary-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 61.8%;
    height: 100%;
    background: var(--bg-main);
    z-index: 6;
    box-shadow: 1rem 0 1.5rem var(--primary-shadow);
}

.main-pane>.summary-overlay>.summary-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: var(--text-primary);
}

.main-pane>.summary-overlay>.summary-display>.congrats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    margin: 2rem;
    padding: 2rem;
    color: var(--text-primary);
}

.main-pane>.summary-overlay>.summary-display>.congrats>.greet {
    font-size: 3rem;
}

.main-pane>.summary-overlay>.summary-display>.congrats>.final-score {
    font-size: 5rem;
}

.main-pane>.summary-overlay>.summary-display>.sum-wrapper {
    max-height: 40%;
    overflow-y: scroll;
}

.main-pane>.summary-overlay>.summary-display>.sum-wrapper>.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: var(--text-primary);
}

.main-pane>.summary-overlay>.summary-display>.sum-wrapper>.summary>.summary-q {
    margin: 2rem;
    padding: 2rem;
    background: var(--bg-sec);
    box-shadow: 0 .3rem .6rem var(--primary-shadow);
    width: 80%;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.8rem;
}

.main-pane>.summary-overlay>.summary-display>.sum-wrapper>.summary>.summary-q>.sum-q {
    margin: 1rem;
    padding: 1rem;
}

.main-pane>.summary-overlay>.summary-display>.sum-wrapper>.summary>.summary-q>.sum-ans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.main-pane>.summary-overlay>.summary-display>.sum-wrapper>.summary>.summary-q>.sum-ans>.correct {
    color: var(--correct);
}

.incorrect {
    color: var(--incorrect);
}

.main-pane>.summary-overlay>.summary-display>.finish {
    margin: 2rem;
}

.main-pane>.summary-overlay>.summary-display>.finish>button {
    margin: 2rem;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    background: var(--bg-sec);
    color: var(--text-primary);
    border: none;
    box-shadow: 0 .3rem .6rem var(--primary-shadow);
}

.main-pane>.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 61.8%;
    height: 100%;
    background: var(--bg-main);
    z-index: 5;
    box-shadow: 1rem 0 1.5rem var(--primary-shadow);
}

.main-pane>.overlay>.overlay-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-pane>.overlay>.overlay-display>.game-customize {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
}

.game-customize>.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 2rem;
}

.game-customize>.form-input>label {
    margin: 2rem;
    color: var(--text-primary);
}

input {
    font-size: 2rem;
    box-shadow: 0 0 1rem .3rem rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: none;
    padding: 1.4rem 2rem;
    background: var(--bg-color-1);
    color: var(--font-color-dark);
    /* width: 20rem; */
}

.game-customize>.form-input>select,
.game-customize>.form-input>input {
    font-size: 2rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: none;
    padding: 1.4rem 2rem;
    outline: none;
    background: var(--bg-sec);
    color: var(--text-primary);
    /* width: 20rem; */
}

option {
    padding: 0.7rem 1rem;
}

.game-customize>.form-input>input {
    transition: all 0.5s ease-in;
}

.main-pane>.overlay>.overlay-display>.buttons>.start>button {
    background: var(--primary-left);
    border: none;
    color: var(--text-primary);
    font-size: 1.6rem;
    width: 17rem;
    height: 5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem var(--primary-shadow);
    transition: all .3s ease-in-out;
}

.main-pane>.overlay>.overlay-display>.buttons>.settings {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1rem;
}

.main-pane>.overlay>.overlay-display>p {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: var(--text-primary);
}

.main-pane>.qna {
    padding-top: 6rem;
    min-height: 60vh;
}

.main-pane>.end-attempt {
    position: absolute;
    margin: 5rem 5rem;
    top: 0;
    left: 0;
    z-index: 2;
}

.round-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 50%;
    border: none;
    font-size: 1.3rem;
    height: 4.5rem;
    width: 4.5rem;
    transition: all 0.4s ease-in-out;
    color: var(--text-primary);
    background-color: var(--primary-left);
    box-shadow: 0 .3rem .6rem var(--primary-shadow);
}

.main-pane>.qna>.question-no {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pane>.qna>.question-no>h1 {
    margin: 2rem;
    font-size: 2rem;
    color: var(--text-primary);
}

.main-pane>.qna>.question {
    margin: auto;
    width: 70%;
}

.main-pane>.qna>.question>h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-primary);
}

.main-pane>.qna>.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem auto;
    width: 61.8%;
}

.main-pane>.qna>.answers>.answer {
    border: none;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    background: var(--primary-left);
    color: var(--text-primary);
    height: 12rem;
    width: 33rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 .4rem .6rem var(--primary-shadow)
}

.main-pane>.qna>.answers>.answer:hover {
    animation: hoverLift .5s ease-in-out infinite;
}

.main-pane>.qna>.answers>.answer:focus {
    animation: hoverLift .5s ease-in-out infinite;
}

.main-pane>.qna>.answers>.set {
    border-left: 4px solid rgba(255, 0, 0, 0.5);
}

.main-pane>.qna>.answers>p {
    font-size: 1.5rem;
    text-align: center;
}

.main-pane>.qna>.next {
    text-align: center;
}

.main-pane>.next>button {
    background: var(--bg-invert);
    box-shadow: 0 .4rem 1.5rem var(--sec-shadow);
    border: none;
    color: var(--text-invert);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1.4rem;
    width: 20rem;
    height: 5rem;
    transition: box-shadow 0.3s, color 0.3s ease-in-out;
    letter-spacing: .15rem;
}

.side-pane {
    display: flex;
    flex-direction: column;
    width: 38.2%;
    height: 100vh;
    background-color: var(--bg-primary);
    box-shadow: -1rem -1rem 1rem var(--primary-shadow);
}

.side-pane>.del {
    position: absolute;
    margin: 3rem 3rem;
    /* padding: 1rem 2rem; */
    z-index: 5;
}

.bottom>.mode_toggle {
    position: absolute;
    margin: 3rem 3rem;
    left: 93%;
}

.bottom>.mode_toggle>button {
    background: var(--bg-invert);
    box-shadow: 0 .3rem .6rem var(--sec-shadow);
}

.round-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 50%;
    border: none;
    font-size: 1.3rem;
    height: 4.5rem;
    width: 4.5rem;
    transition: all 0.4s ease-in-out;
    color: var(--text-primary);
    background-color: var(--bg-alt);
    box-shadow: 0 .3rem .6rem var(--sec-shadow);
}

.side-pane>.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    min-height: 53%;
    background: var(--bg-primary);
    width: 100%;
    height: 100%;
    z-index: 3;
    box-shadow: 0 1rem 1.5rem var(--primary-shadow);
}

.side-pane>.top>#name_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

.side-pane>.top>#name_form>label {
    font-size: 2rem;
    padding-right: 1rem;
}

.side-pane>.top>#name_form>#name {
    font-size: 1.5rem;
    border: .3rem solid transparent;
    background: var(--primary-right);
    height: 4rem;
    box-shadow: 0 .3rem .6rem var(--sec-shadow);
    border-radius: 3rem;
    padding: 2rem;
}

.side-pane>.top>h2 {
    font-size: 3rem;
    font-weight: 100;
    padding: 2rem 1rem;
}

.side-pane>.top>h3 {
    font-size: 5rem;
    font-weight: 400;
}

.side-pane>.bottom {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: var(--bg-sec);
    color: var(--text-primary);
    height: 100%;
}

.side-pane>.bottom>.left {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 60%;
    box-shadow: -1rem 0 .9rem var(--sec-shadow);
}

::-webkit-scrollbar {
    display: none;
}

.side-pane>.bottom>.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-pane>.bottom>.right>h1 {
    margin: 3rem;
    font-size: 1.7rem;
    color: var(--text-primary);
}

.side-pane>.bottom>.right>#new_conn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.side-pane>.bottom>.right>#new_conn>#new_conn_name {
    width: 60%;
    border-radius: 3rem;
    margin: 1rem;
    font-size: 1.3rem;
    background-color: var(--bg-main);
    box-shadow: 0 .2rem .6rem var(--sec-shadow);
}

.side-pane>.bottom>.right>#new_conn>input[type="submit"] {
    /* width: 50%; */
    border-radius: 1rem;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
    background: var(--primary-right);
    color: var(--text-primary);
    box-shadow: 0 .3rem .5rem var(--sec-shadow);
}

.side-pane>.bottom>.left>.participant-info {
    display: flex;
    background-color: var(--bg-main);
    margin: 1.2rem 2.3rem;
    padding: .5rem;
    width: 90%;
    border-radius: 2rem;
    box-shadow: 0 0 .7rem .1rem rgba(0, 0, 0, 0.15);
}

.side-pane>.bottom>.left>.participant-info:nth-child(1) {
    margin-top: 2.3rem;
}

.side-pane>.bottom>.left>.participant-info:hover {
    box-shadow: 0 0 .5rem var(--sec-shadow);
}

.participant-info>.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
    color: var(--font-color-dark);
}

.info>.participant-name {
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.info>.participant-score {
    font-size: 1.2rem;
}

#snackbar {
    visibility: hidden;
    min-width: 20rem;
    margin-left: -12.5rem;
    background-color: var(--bg-sec);
    color: var(--text-primary);
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 3rem;
    z-index: 99;
    border-radius: 4rem;
    box-shadow: 0 .3rem .6rem var(--primary-shadow);
}

#snackbar.show {
    visibility: visible;
    /* animation: slide-in-up 0.5s, slide-out-down 0.5s 2.5s; */
}

#snackbar>h1 {
    padding: 1rem;
    margin: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: 300;
}

.btn:enabled:hover,
input[type="submit"]:enabled:hover {
    animation: pulse 0.5s ease-in-out infinite both;
}

button:disabled,
input[type="submit"]:disabled {
    background: var(--bg-alt)!important;
}