*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
}

.main-pane{
    display: flex;
}

.side-pane{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: #3c3c3b;
}